{{!

If the user is logged in , and 'GET /protected' endpoint is called, you will render this view based on the specs.

}}

<p>Welcome
  {{firstName}}, the time is now:
  {{currentTime}}. Your role in the system is:
  {{role}}.</p>
{{#if admin}}
  <p> You can also visit the admin page <a href="/admin">Here!</a></p>
{{/if}}
<p>
  <a href="/logout">Logout</a>
</p>
